@model TravelAgencyBusinessLogic.BindingModels.RequestGuideBindingModel
@{
    ViewData["Title"] = "Добавление гида";
}

<div class="text-left">
    <h4> №@ViewBag.HotelId</h4>
</div>

<hr />
<div>
    <a class="text-dark" asp-action="ListGuides" asp-route-hotelId="@ViewBag.HotelId">Вернуться назад</a>
</div>
<hr />

<div class="text-left">
    <h4>@ViewBag.GuideName</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Hotel" asp-action="AddGuide">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HotelId" />
            <input type="hidden" asp-for="GuideId" />
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Пополнить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

