@model RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>Registration</h1>

@section Links {
    <div class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a>
            </li>
        </ul>
    </div>
}

<h1>Регистрация</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupplierFIO" class="control-label"></label>
                <input asp-for="SupplierFIO" class="form-control" />
                <span asp-validation-for="SupplierFIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>
