@model TravelAgencyDatabaseImplement.Models.Hotel
@{
    ViewData["Title"] = "Добавление отеля";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Request" asp-action="Request">Список заявок</a>
            </li>
        </ul>
    </div>
}

<h3>Добавление отеля</h3>

<hr />
<div>
    <a class="text-dark" asp-action="ListHotels">Вернуться назад</a>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateHotel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelName" class="control-label"></label>
                <input asp-for="HotelName" class="form-control" />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
